body{
  padding-top: 50px;
}

footer{
  background-color: rgb(43, 41, 40);
}

}
#white{
  background-color: white;
}

#primera > div > div{
  margin: 0 auto;
}
#primera{
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
}

#conduce{
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: center;
}

body > div > section.row.contenedor-media > div > div.media-body.hidden-xs.hidden-sm.row > div > p{
  font-size: 25px;
  margin-top: 5%;

}


.al-title{
  padding: 4%;
}

.margen{
  margin-bottom: 35px;
  margin-top: 15px;
}

.logo{
  padding: 1%;

}

.yellow{
  background: #F7B617;
  border: 1px solid white;
  color: white;
}
.jumbo{
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: none;
  background-color: #F7B617;
  color: white;
  padding: 2%;
}


.contenedor-media{
  background-color: #F7B617;
  padding: 5% 5% 5% 0%;
  color: white;
}

.borde{
  border: 3px solid white;
  border-left-style:none;
}

.pd-image{
  padding: 8%;
}

.transparencia{
  background-color: rgba(15, 15, 15, 0.57);
  color: white;
  padding: 7%;
}
