body{
  padding-top: 50px;
}

}
#white{
  background-color: white;
}

#primera > div > div{
  margin: 0 auto;
}
#primera{
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
}

.margen{
  margin-bottom: 35px;
  margin-top: 15px;
}

.logo{
  padding: 1%;

}
.rojo{
  background: red;
}
.jumbo{
  margin-top: 10%;
  border-radius: none;
  background-color: #F7B617;
  color: white;
  padding: 2%;
}


.contenedor-media{
  background-color: #F7B617;
  padding: 5% 5% 5% 0%;
  color: white;
}

.borde{
  border: 3px solid white;
  border-left-style:none;
}
.blok{
  display: block;
}
